{% extends 'base.html' %}

{% block title %}
    DMYD
{% endblock title %}

{% block body %}
    <form action="/api/sendMessage" method="POST">
        <div class="messages">
            {% for message in messages %}
                <ul>{{ message.from_user.first_name }}:
                    {{ decrypt_message(message) }}</ul>
            {% endfor %}
        </div>

        <label>
            <input type="text" name="message" id="message" placeholder="Type here...">
        </label>
        <input type="submit">
    </form>
{% endblock body %}