{% extends 'base.html' %}

{% block ajax %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {

            var socket = io.connect('http://' + document.domain + ':' + location.port);

            //listens to 'price update' message on socket
            socket.on('new_message', function (msg_json) {
                const msg = JSON.parse(msg_json);
                console.log(msg)
                if (msg !== null) {
                    var newMessage = document.createElement('p')
                    newMessage.innerText = msg.contents
                    newMessage.className = 'chat_message'
                    $('.chat_message').lastChild().after(
                        newMessage
                    )
                }
            });

        });
    </script>

{% endblock %}

{% block title %}
    DMYD
{% endblock title %}

{% block body %}
    <form action="/api/addFriend" method="POST">
        <div class="friend_finder">
            <label>
                <input type="text" name="friend" id="friend" placeholder="Enter friend' email...">
            </label>
            <input type="submit" value="Add">
        </div>
    </form>

    {% for friend in friends %}
        <a href="/chats?thread={{ friend.id }}">{{ friend.first_name }}</a>
    {% endfor %}

    <div class="messages">
        {% for message in messages %}
            <p class="chat_message">{{ message.from_user.first_name }}:
                {{ decrypt_message(message).decode() }}</p>
        {% endfor %}
    </div>

    {% if active_chat %}
        <form action="/api/sendMessage?thread={{ active_chat }}" method="POST">
            <div class="textfield">
                <label>
                    <input type="text" name="message" id="message" placeholder="Type here...">
                </label>
                <input type="submit">
            </div>
        </form>
    {% else %}
        <div class="no_chat_open">
            <h3>Select chat and communicate!</h3>
        </div>
    {% endif %}
{% endblock body %}