{% extends 'base.html' %}

{% block ajax %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {

            var socket = io.connect('http://' + document.domain + ':' + location.port);

            var $friend = $('.friend')
            $friend.click = () => {
                const chat_id = $friend.dataset.id;
                console.log(chat_id);

                socket.emit('join_chat', {
                    'chat_id': chat_id
                })
            }

            socket.on('update_message', (arg) => {
                const message = arg['message'];
                const newMessageElement = document.createElement('p')
                newMessageElement.textContent = message
            });

        });
    </script>

{% endblock %}

{% block title %}
    DMYD
{% endblock title %}

{% block body %}
    <form action="/api/addFriend" method="POST">
        <div class="friend_finder">
            <label>
                <input type="text" name="friend" id="friend" placeholder="Enter friend' email...">
            </label>
            <input type="submit" value="Add">
        </div>
    </form>

    {% for friend in friends %}
        <button class="friend" data-id="{{ friend.id }}">{friend.first_name}</button>
    {% endfor %}

    <div id="messages">
        {% for message in messages %}
            <p class="chat_message">{{ message.from_user.first_name }}:
                {{ decrypt_message(message).decode() }}</p>
        {% endfor %}
    </div>

    {% if active_chat %}
        <form action="/api/sendMessage?thread={{ active_chat }}" method="POST">
            <div class="textfield">
                <label>
                    <input type="text" name="message" id="message" placeholder="Type here...">
                </label>
                <input type="submit">
            </div>
        </form>
    {% else %}
        <div class="no_chat_open">
            <h3>Select chat and communicate!</h3>
        </div>
    {% endif %}
{% endblock body %}